body {
    font-family: Arial, sans-serif;
    margin-top: 100px;
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.chart-container {
    border: 1px solid #1a1010;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.chart-container h2 {
    margin: 0 0 16px;
    font-size: 24px;
    color: #7e7777;
}
.chart-container canvas {
    width: 100%;
    height: 400px;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}
.button-container button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-container button:hover {
    background-color: #0056b3;
}
.filter-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 995px;
    margin-bottom: 10px;
  }
  .filter-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ebebee;
    border-radius: 4px;
  }