<!-- src/app/components/change-password/change-password.component.html -->
<form #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm)">
    <div>
      <label for="username">Email:</label>
      <input type="email" id="username" name="username" ngModel required>
    </div>
    <div>
      <label for="oldPassword">Old Password:</label>
      <input type="password" id="oldPassword" name="oldPassword" ngModel required>
    </div>
    <div>
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" ngModel required minlength="6">
    </div>
    <button type="submit">Change Password</button>
  </form>
  