<div class="content">
  <h2>Cambiar Contraseña</h2>
  <form #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm)">
    <div class="form-group">
      <label for="oldPassword">Antigua Contraseña:</label>
      <input type="password" id="oldPassword" name="oldPassword" ngModel required>
    </div>
    <div class="form-group">
      <label for="newPassword">Nueva Contraseña:</label>
      <input type="password" id="newPassword" name="newPassword" ngModel required minlength="6">
    </div>
    <button type="submit">Cambiar</button>
  </form>
</div>