<div>
    <h2>Cambiar Contraseña</h2>
    <form #changePasswordForm="ngForm" (ngSubmit)="onChangePassword(changePasswordForm)">
      <div>
        <label for="username">Email:</label>
        <input type="email" id="username" name="username" [(ngModel)]="changePasswordData.username" required pattern="^[a-zA-Z0-9._%+-]+@ups\.edu\.ec$">
          El email es requerido.
        </div>
          El email debe ser del dominio ups.edu.ec.
      <div>
        <label for="oldPassword">Contraseña Anterior:</label>
        <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="changePasswordData.oldPassword" required>
      </div>
      <div>
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="changePasswordData.newPassword" required minlength="6">
      </div>
      <button type="submit">Cambiar Contraseña</button>
    </form>
  </div>
  