<div class="container">
    <div class="content">
        <h1 class="text-center">Bienvenido a nuestra Estación Meteorológica</h1>
        <p class="text-center">Aquí puedes aprender cómo funciona una estación meteorológica utilizando los sensores
            DHT22,
            BMP280 y un ESP32.</p>
        <div class="column">
            <h2>Sensor BMP280</h2>
            <p>El sensor de presión barométrica BMP280 permite medir la altura respecto al nivel del mar, su
                funcionamiento está basado en la relación entre presión del aire y la altitud. El BMP280 es la
                evolución del BMP180, posee alta precisión y un bajo consumo de energía. El BMP280 ofrece un rango
                de medición de 300 a 1100 hPa (Hecto Pascal). Basado en tecnología BOSCH piezo-resistiva con gran
                robustez EMC, alta precisión y linealidad, así como con estabilidad a largo plazo. Se ha diseñado
                para ser conectado directamente a un microcontrolador a través de I2C o SPI. El sensor BMP280
                presenta diversas mejoras respecto al sensor BMP180 como: Mejor resolución de presión y temperatura,
                mejor precisión, mejores filtros digitales y un menor consumo de energía.</p>
            <img src="/BMP.jpg" alt="Sensor BPM">
        </div>
        <div class="column">
            <h2>ESP32</h2>
            <p>ESP32 es una familia de microcontroladores de la empresa Espressif Systems. Su analogía más clara es
                la de un ESP8266 con esteroides, que incluye Wifi, Bluetooth y otras potentes características extra.
                ESP32 es muy superior, en capacidades, a un Arduino UNO y a un ESP8266, pero eso no quiere decir que
                sea ideal para cualquier proyecto, ya que para sacarle todo el jugo a este microcontrolador es
                necesario un proyecto más complejo del que estamos acostumbrado.
            </p>
            <img src="/Esp.jpg" alt="Esp32">
        </div>
    </div>
</div>