body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    background: url('/fondo_login.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.content {
    color: white;
    padding-top: 4rem;
}

.text-center {
    text-align: center;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
}

.column p{
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .column {
        flex-basis: 100%;
    }
}